div.bhoechie-tab-container{z-index:10;background-color:#fff;padding:0!important;margin-bottom:50px;border-radius:4px;-moz-border-radius:4px;border:1px solid #ddd;margin-top:20px;margin-left:50px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);-moz-box-shadow:0 6px 12px rgba(0,0,0,.175);background-clip:padding-box;opacity:.97;filter:alpha(opacity=97)}
div.bhoechie-tab-menu{padding-right:0;padding-left:0;padding-bottom:0}
div.bhoechie-tab-menu div.list-group{margin-bottom:0}
div.bhoechie-tab-menu div.list-group>a{margin-bottom:0}
div.bhoechie-tab-menu div.list-group>a .glyphicon,div.bhoechie-tab-menu div.list-group>a .fa{color:#5A55A3}
div.bhoechie-tab-menu div.list-group>a:first-child{border-top-right-radius:0;-moz-border-top-right-radius:0}
div.bhoechie-tab-menu div.list-group>a:last-child{border-bottom-right-radius:0;-moz-border-bottom-right-radius:0}
div.bhoechie-tab-menu div.list-group>a.active,div.bhoechie-tab-menu div.list-group>a.active .glyphicon,div.bhoechie-tab-menu div.list-group>a.active .fa{background-color:#5A55A3;background-image:#5A55A3;color:#fff}
div.bhoechie-tab-menu div.list-group>a.active:after{content:'';position:absolute;left:100%;top:50%;margin-top:-13px;border-left:0;border-bottom:13px solid transparent;border-top:13px solid transparent;border-left:10px solid #5A55A3}
div.bhoechie-tab-content{background-color:#fff;padding-left:20px;padding-top:50px}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){display:none}
.mem-head h3{margin:0px;padding-bottom:10px;color: #00bd86;}
.light-box1 p{color: #fff !important}
.img-top{margin-top: 70px}
div.bhoechie-tab-content li{list-style-type: lower-roman}
.mem-admin li{width: 14.28% ;}
label{padding-top: 15px}
.memberpadd i{padding-top:0px !important}
.start-head{transform:rotate(90deg);margin-top:100px;color:#00bd86}
@media (max-width: 479px) {
  .start-head{margin-bottom:100px !important}
}

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
figure {
  float: right;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;cursor: pointer
}
.table a{color: #333 !important;}
.table a:hover{text-decoration: none !important;}
.table a .fa{color:#fff !important}
.form-control{height:44px !important}
.video-imgs{display: -webkit-inline-box;padding-left: 0px}
.video-imgs li{margin: 20px}
.vid-img{height: 250px;width: 180px}
.vid-img:hover{    box-shadow: 1px 1px 14px 1px #000;}
.mem-head .video-imgs li{margin: 20px;width: 16%}
.video-imgs figure{float: none;background: #fff}
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
.form-filling{border: 0px !important;
    border-bottom: 1px solid #ddd !important;}
.lft{
    position: absolute;
    top: 300px;
    left: 20px;}
.rght{
    position: absolute;
    bottom: 175px;
    right: 20px;}